<!DOCTYPE html>
<style>
    p {
        font-size: 12px;
    }
    #header {
        margin-left: 10px;
    }
    #title {
        color: orange;
        text-decoration: solid;
    }
</style>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <header>
            <a asp-action="Index" asp-controller="Home">
                <img class="header-content" src="~/Images/DTT logo.png" alt="DTT - Apps Web Games" tag="logo">
            </a>
            <hr>
            <div style="margin: 10px;">
                <h5 class="title">Widget News Admin</h5>
                <p>
                    <span>You are logged in as @User.Identity.Name.</span>
                    <a asp-action="Logout" asp-controller="Account">Log out</a>
                </p>
            </div>
            <hr>
        </header>

        <main role="main" class="main_content">
            @RenderBody()
        </main>

        <footer class="footer">
            <hr>
            <nav class="navbar">
                <span class="navbar-text">
                    DTT Multimedia &copy; 2015. All rights reserved.
                </span>
                <ul class="navbar-nav m-auto">
                    <li class="nav-link">
                        <a asp-action="Admin" asp-controller="Home" )">Site Admin</a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </nav>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
